@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #200122;
    --background: 315 99.7% 98.14%;
    --foreground: 315 9.399999999999999% 0.28%;

    --muted: 315 9.399999999999999% 90.7%;
    --muted-foreground: 315 4.699999999999999% 40.7%;

    --popover: 315 14.800000000000011% 90.7%;
    --popover-foreground: 315 9.399999999999999% 0.35000000000000003%;

    --card: 315 14.800000000000011% 90.7%;
    --card-foreground: 315 9.399999999999999% 0.35000000000000003%;

    --border: 315 14.399999999999999% 89.28%;
    --input: 315 14.399999999999999% 89.28%;

    --primary: 315 94% 7%;
    --primary-foreground: 315 1.88% 90.7%;

    --secondary: 315 4.699999999999999% 95.35%;
    --secondary-foreground: 315 6.64% 10.7%;

    --accent: 315 4.699999999999999% 95.35%;
    --accent-foreground: 315 6.64% 10.7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 315 94% 7%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #1cd8d2;

    --background: 189 50.050000000000004% 3.84%;
    --foreground: 189 7.7% 97.4%;

    --muted: 189 38.5% 14.399999999999999%;
    --muted-foreground: 189 7.7% 54.8%;

    --popover: 189 49.6% 6.24%;
    --popover-foreground: 189 7.7% 97.4%;

    --card: 189 49.6% 6.24%;
    --card-foreground: 189 7.7% 97.4%;

    --border: 189 38.5% 14.399999999999999%;
    --input: 189 38.5% 14.399999999999999%;

    --primary: 189 77% 48%;
    --primary-foreground: 189 7.7% 4.8%;

    --secondary: 189 38.5% 14.399999999999999%;
    --secondary-foreground: 189 7.7% 97.4%;

    --accent: 189 38.5% 14.399999999999999%;
    --accent-foreground: 189 7.7% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 189 7.7% 97.4%;

    --ring: 189 77% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    scrollbar-gutter: stable;
  }
}
.scan-animation {
  position: relative;
}

.scan-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
  animation: scan 2s linear infinite;
  -webkit-animation: scan 1s ease-in-out infinite alternate;
}

@keyframes scan {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
